/* responsive layout for mobile device-576px(bootstrap breakpoints) */

@media screen and (max-width: 576px){
   
    .nav-container{
        flex-direction: column;
      
    }
    .nav-logo-container{
        margin-top: 10px;
    }
    
    .nav-item-container{
        width: 100%;
        flex-direction: column;
    }

    .nav-item-container a{
        margin-top: 20px;
    }

}
